.class-ion-item {
    height: 36px;
}
.class-ion-label {
    margin-left: 5px;
}

div.item-native {
    padding: 0;
}

.class-ion-grid {
    margin-top: -10px;
}
.class-ion-row{
    height: 35px;
} 

h6 {
    margin-bottom:0;
}

.bold {
    font-weight: bold;
}