<ion-list>
  <ion-radio-group (click)="showDescription()">
    <ion-list-header>
      <ion-label>{{ title }}:</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-radio slot="start" color="success" value="good"></ion-radio>
      <ion-label>bem</ion-label>
    </ion-item>
    <ion-item>
      <ion-radio slot="start" color="success" value="few"></ion-radio>
      <ion-label>pouco</ion-label>
    </ion-item>
    <ion-item>
      <ion-radio slot="start" color="success" value="havent"></ion-radio>
      <ion-label>não comi</ion-label>
    </ion-item>
  </ion-radio-group>
</ion-list>

<ion-item *ngIf="showDesc">
  <ion-input
    type="text"
    [(ngModel)]="description"
    name="description"
  ></ion-input>
</ion-item>
