<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>
        Café da Manhã
      </ion-label>
    </ion-list-header>

    <ion-grid class="class-ion-grid">
      <ion-row class="class-ion-row">
        <ion-col size-xs="6">
          <ion-item class="class-ion-item">
            <ion-radio color="success" value="good"></ion-radio>
            <ion-label class="class-ion-label">Bem</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xs="6">
          <ion-item class="class-ion-item">
            <ion-radio color="success" value="few"></ion-radio>
            <ion-label class="class-ion-label">Pouco</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="class-ion-row">
        <ion-col size-xs="12">
          <ion-item class="class-ion-item">
            <ion-radio color="success" value="havent"></ion-radio>
            <ion-label class="class-ion-label">Não comi</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-radio-group>

  
  <ion-radio-group>
    <ion-list-header>
      <ion-label>
        Almoço
      </ion-label>
    </ion-list-header>

    <ion-grid class="class-ion-grid">
      <ion-row class="class-ion-row">
        <ion-col size-xs="6">
          <ion-item class="class-ion-item">
            <ion-radio color="success" value="good"></ion-radio>
            <ion-label class="class-ion-label">Bem</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xs="6">
          <ion-item class="class-ion-item">
            <ion-radio color="success" value="few"></ion-radio>
            <ion-label class="class-ion-label">Pouco</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="class-ion-row">
        <ion-col size-xs="12">
          <ion-item class="class-ion-item">
            <ion-radio color="success" value="havent"></ion-radio>
            <ion-label class="class-ion-label">Não comi</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-radio-group>

  
  <ion-radio-group>
    <ion-list-header>
      <ion-label>
        Lanche
      </ion-label>
    </ion-list-header>

    <ion-grid class="class-ion-grid">
      <ion-row class="class-ion-row">
        <ion-col size-xs="6">
          <ion-item class="class-ion-item">
            <ion-radio color="success" value="good"></ion-radio>
            <ion-label class="class-ion-label">Bem</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xs="6">
          <ion-item class="class-ion-item">
            <ion-radio color="success" value="few"></ion-radio>
            <ion-label class="class-ion-label">Pouco</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="class-ion-row">
        <ion-col size-xs="12">
          <ion-item class="class-ion-item">
            <ion-radio color="success" value="havent"></ion-radio>
            <ion-label class="class-ion-label">Não comi</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-radio-group>

  
  <ion-radio-group>
    <ion-list-header>
      <ion-label>
        Sopa
      </ion-label>
    </ion-list-header>

    <ion-grid class="class-ion-grid">
      <ion-row class="class-ion-row">
        <ion-col size-xs="6">
          <ion-item class="class-ion-item">
            <ion-radio color="success" value="good"></ion-radio>
            <ion-label class="class-ion-label">Bem</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size-xs="6">
          <ion-item class="class-ion-item">
            <ion-radio color="success" value="few"></ion-radio>
            <ion-label class="class-ion-label">Pouco</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="class-ion-row">
        <ion-col size-xs="12">
          <ion-item class="class-ion-item">
            <ion-radio color="success" value="havent"></ion-radio>
            <ion-label class="class-ion-label">Não comi</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-radio-group>

</ion-list>

<ion-button type="button" (click)="onSaveMeal()">
  Salvar
</ion-button>




