<h6>{{ title }}:</h6>
<ion-radio-group>
  <ion-grid class="class-ion-grid">
    <ion-row class="class-ion-row">
      <ion-col size-xs="6">
        <ion-item class="class-ion-item">
          <ion-radio color="success" value="good"></ion-radio>
          <ion-label class="class-ion-label">Bem</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size-xs="6">
        <ion-item class="class-ion-item">
          <ion-radio color="success" value="few"></ion-radio>
          <ion-label class="class-ion-label">Pouco</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="class-ion-row">
      <ion-col size-xs="12">
        <ion-item class="class-ion-item">
          <ion-radio color="success" value="havent"></ion-radio>
          <ion-label class="class-ion-label">Não comi</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-radio-group>
