ion-item {
    height: 36px;
    ion-label {
        margin-left: 5px;
    }
}

div.item-native {
    padding: 0;
}

ion-grid {
    margin-top: -10px;
    ion-row{
        height: 35px;
    } 
}

h6 {
    margin-bottom:0;
}

.bold {
    font-weight: bold;
}