<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <img
      slot="start"
      class="menu-background"
      src="../../../assets/img/menu_background.jpg"
    />
    <ion-title>Fotos</ion-title>
    <ion-avatar
      class="avatar_profile"
      slot="primary"
      *ngIf="userPhoto$ | async as userPhoto"
      class="avatar_profile"
    >
      <img [src]="userPhoto" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div *ngFor="let student of students$ | async">
    <ion-item color="primary" text-center>
      <ion-label>
        <h5>{{ student.firstName + " " + student.lastName }}</h5>
      </ion-label>
    </ion-item>

    <div *ngIf="student.photo | async as studentPhotos">
      <ion-slides [options]="sliderConfig" padding>
        <ion-slide *ngFor="let image of studentPhotos">
          <ion-card text-center no-margin no-padding color="light">
            <ion-card-header>
              <ion-card-subtitle>
                {{ image.date }}
              </ion-card-subtitle>
            </ion-card-header>

            <ion-img
              [src]="image.url"
              (click)="onOpenGallery(image.url)"
              tappable
            ></ion-img>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
