<ion-header>
  <ion-toolbar>
    <ion-title>Fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="!student || !student.images">
    <ion-label>
      <h2>Não há imagens para exibir</h2>
    </ion-label>
  </ion-item>

  <ion-item *ngIf="student">
      <ion-label no-lines text-center><h2>{{ student.firstName + " " + student.lastName }}</h2></ion-label>
  </ion-item>

  <ion-item *ngIf="student && student.images" no-padding>
    <ion-slides pager="true" padding>
      <ion-slide *ngFor="let image of student.images">
        <ion-card>
          <ion-card-header>
            <h5>{{ image.date | date }}</h5>
          </ion-card-header>
          <ion-card-content>
            <ion-img padding [src]="image.url"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-item>
</ion-content>
