    .class-ion-label {
      margin: 0;
      font-weight: bold;
      letter-spacing: 1px;
      background-color: #ececcdbb;
      border-bottom: 1px solid #d0d17f;
      --border-radius: 13px;
      padding: 10px 0;
      --webkit-border-radius: 13px;
      --moz-border-radius: 13px;
      --ms-border-radius: 13px;
      --o-border-radius: 13px;
    }

.class-ion-badge {
  margin-left: 8px;
}

h6 {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
