.close-fake {
    --background: transparent;
    ion-icon {
        font-size: 1.3rem;
    }
    margin-top: 40px;
}
 
.class-ion-content {
    --background: rgba(67, 62, 68, 0.455);
    
}
 
.class-ion-slides {
    height: 80%;
}