<ion-content fullscreen class="class-ion-content">
 
    <ion-item class="close-fake" lines="none" text-center>
      <ion-button (click)="close()" fill="clear" color="light" tappable>
        <ion-icon name="close" slot="start"></ion-icon>
        Voltar
      </ion-button>
   
      <ion-button (click)="zoom(true)" fill="clear" color="light" tappable>
        <ion-icon name="add" slot="start"></ion-icon>
        Aproximar
      </ion-button>
   
      <ion-button (click)="zoom(false)" fill="clear" color="light" tappable>
        <ion-icon name="remove" slot="start"></ion-icon>
        Afastar
      </ion-button>
    </ion-item>
   
    <ion-slides [options]="sliderOpts" #slider  class="class-ion-slides">
      <ion-slide>
        <div class="swiper-zoom-container">
          <img src="{{ img }}">
        </div>
      </ion-slide>
    </ion-slides>
   
  </ion-content>