.close-fake {
    --background: transparent;
    ion-icon {
        font-size: 1.3rem;
    }
    margin-top: 40px;
    background-color: #87EFAD;
    color: black;
    border-radius: 15px 50px 30px; 
    border: 2px solid #CCC;
    width: 90%;
    margin:auto;
    margin-top:25px;
    
}
 
.class-ion-content {
    --background: #F3FFFA;
}
 
.class-ion-slides {
    height: 80%;
}