<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img
      slot="start"
      class="menu-background"
      class="avatar_profile"
      src="../../../assets/img/menu_background.jpg"
    />
    <ion-title>Aluno</ion-title>
    <ion-buttons color="primary" slot="primary" *ngIf="student" padding>
      <ion-icon name="trash" (onClick)="onDeleteStudent()"></ion-icon>
    </ion-buttons>
    <ion-avatar
      slot="primary"
      *ngIf="userPhoto$ | async as userPhoto"
      class="avatar_profile"
    >
      <img [src]="userPhoto" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-grid>
    <form (ngSubmit)="onSaveStudent()" [formGroup]="form">
      <ion-row>
        <ion-col size-xs="10" offset-xs="1">
          <ion-item position="floating" lines="none">Foto</ion-item>
          <ion-avatar class="profile-pic" (click)="onChooseImageSource()">
            <ion-img [src]="imageProfile"></ion-img>
          </ion-avatar>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="10" offset-xs="1">
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input
              type="text"
              required
              name="firstName"
              formControlName="firstName"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="10" offset-xs="1">
          <ion-item>
            <ion-label position="floating">Sobrenome</ion-label>
            <ion-input
              type="text"
              formControlName="lastName"
              name="lastName"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="10" offset-xs="1">
          <ion-item>
            <ion-label>Nascido em</ion-label>
            <ion-datetime
              display-format="DD/MM/YYYY"
              picker-format="DD MM YYYY"
              name="birthday"
              formControlName="birthday"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="10" offset-xs="1">
          <ion-item>
            <ion-label position="floating">Contato</ion-label>
            <ion-input
              type="text"
              autocomplete
              formControlName="contact1"
              name="contact"
              required
              placeholder="(XX) XXXXX-XXXX"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              type="text"
              formControlName="contact2"
              name="contact2"
              placeholder="(XX) XXXXX-XXXX"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="10" offset-xs="1">
          <ion-item position="floating" lines="none">Foto</ion-item>
          <app-image-picker
            (imagePickEmitter)="onImagePicked($event)"
            [selectedImageInput]="imagePicked"
          ></app-image-picker>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="4" offset-xs="1">
          <ion-button expand="block" type="submit" [disabled]="!form.valid">
            Salvar
          </ion-button>
        </ion-col>
        <ion-col size-xs="4">
          <ion-button
            expand="block"
            type="button"
            (click)="onDeleteStudent()"
            [disabled]="!form.valid"
          >
            Remover
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
