<ion-app>
  <ion-split-pane contentId="menu-content">
    <!--  our side menu  -->
    <ion-menu contentId="menu-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Caterpillar</ion-title>
        </ion-toolbar>       
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-menu-toggle>
            <ion-item lines="none" routerLink="/student">
              <ion-icon name="people" slot="start"></ion-icon>
              <ion-label>Alunos</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item lines="none" routerLink="/student/photos">
              <ion-icon name="images" slot="start"></ion-icon>
              <ion-label>Fotos</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item lines="none" routerLink="/student/daily-tasks">
              <ion-icon name="list-box" slot="start"></ion-icon>
              <ion-label>Tarefas</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="isLoggedIn$ | async">
            <ion-item lines="none" (click)="logout()">
              <ion-icon name="log-out" slot="start"></ion-icon>
              <ion-label>Sair</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- the main content -->
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
