<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <img
      slot="start"
      class="menu-background"
      src="../../../assets/img/menu_background.jpg"
    />
    <ion-title>Alunos</ion-title>

    <ion-avatar
      slot="primary"
      class="avatar_profile"
      *ngIf="userPhoto$ | async as userPhoto"
    >
      <img [src]="userPhoto" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header class="class-ion-list-header"
      >Lista de alunos</ion-list-header
    >
    <ion-spinner
      name="crescent"
      color="primary"
      *ngIf="isLoading"
      text-center
    ></ion-spinner>
    <ion-item-sliding
      size-xs="8"
      offset-xs="2"
      *ngFor="let student of students"
    >
      <ion-item>
        <ion-avatar slot="start" item-start *ngIf="student.imageProfile | async as imageAvatar">
          <ion-img
            [src]="imageAvatar"
          ></ion-img>
        </ion-avatar>
        <ion-label
          [routerLink]="['/', 'student', 'student-details', student.id]"
        >
          <h3>{{ student.firstName }}</h3>
          <p>{{ student.firstName + " " + student.lastName }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <button ion-button color="primary">
          <ion-icon
            name="calendar"
            [routerLink]="[
              '/',
              'student',
              'daily-tasks-detail',
              student.id,
              getToday()
            ]"
          ></ion-icon>
          Hoje
        </button>
      </ion-item-options>
      <ion-item-options side="start">
        <button
          ion-button
          color="primary"
          [routerLink]="['/student/photos/' + student.id]"
        >
          <ion-icon name="photos"></ion-icon>
          Fotos
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-button
    class="class-ion-button"
    [routerLink]="['/', 'student', 'student-details', 'new']"
    size="default"
  >
    <ion-icon slot="start" name="add"></ion-icon>
    Novo aluno
  </ion-button>
</ion-content>
