ion-button {
    padding: 30px;
}

ion-list-header {
    background: #e1f1cf;
    font-size: 13px;
    border-bottom: 1px solid #3b8859;
    height: 45px;
    font-family: cursive;
    padding-left: 30px;
}