<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alunos</ion-title>

    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/','student','new']">
      <ion-icon name="add" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list size-xs="8" offset-xs="2">
    <ion-item-sliding *ngFor="let student of students">
      <ion-item>
        <ion-avatar item-start>
          <ion-img [src]="student.imageUrl" *ngIf="student.imageUrl"></ion-img>
        </ion-avatar>
        <ion-label padding>
          <h2>{{ student.firstName }}</h2>
          <p>{{ student.firstName + " " + student.lastName }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <button ion-button color="primary">
          <ion-icon
            name="calendar"
            [routerLink]="['/','student','daily-tasks',student.id]"
          ></ion-icon>
          Hoje
        </button>
      </ion-item-options>
      <ion-item-options side="start">
          <button ion-button color="primary" [routerLink]="['/student/photos/' + student.id]">
            <ion-icon
              name="photos"              
            ></ion-icon>
            Fotos
          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
