<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/student/daily-tasks"></ion-back-button>
    </ion-buttons>

    <img
      slot="start"
      class="menu-background"
      src="../../../assets/img/menu_background.jpg"
    />
    <ion-title>Meu dia na escola</ion-title>
    <ion-avatar class="avatar_profile" slot="primary" *ngIf="userPhoto$ | async as userPhoto">
        <img [src]="userPhoto" />
      </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12">
          <ion-item>
            <ion-label class="bold">Data</ion-label>
            <ion-label>{{ taskDate | date: "dd/MM/yyyy" }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="12">
          <ion-item>
            <ion-label class="bold">Nome da criança</ion-label>
            <ion-label>{{ student ? student.firstName : "" }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xs="12">
          <ion-segment (ionChange)="onChangeSegment($event)">
            <ion-segment-button value="meals" checked>
              <ion-icon name="restaurant"></ion-icon>
              <ion-label>Refeições</ion-label>
            </ion-segment-button>
            <ion-segment-button value="diapers">
              <ion-icon name="body"></ion-icon>
              <ion-label>Fralda</ion-label>
            </ion-segment-button>
            <ion-segment-button value="sleeping">
              <ion-icon name="bed"></ion-icon>
              <ion-label>Sono</ion-label>
            </ion-segment-button>
            <ion-segment-button value="activity">
              <ion-icon name="tennisball"></ion-icon>
              <ion-label>Atividades</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>

      <div *ngIf="task && task.meal && showMeals">
        <ion-row *ngFor="let meal of task.meal" class="meal_row">
            <ion-col size-xs="12">
              <app-meals [title]="meal.mealType"></app-meals>
          </ion-col>
        </ion-row>
      </div>

      <ion-row *ngIf="showSleeping">
        <ion-col size-xs="12">
          <ion-label class="bold">
            Hoje eu fui dormir das:
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="showActivity">
        <ion-col size-xs="12">
          <ion-label class="bold">
            Hoje eu fui:
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-fab vertical="top" horizontal="end" edge slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list>
        <ion-fab-button color="secondary">
          <ion-icon name="restaurant"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="secondary">
          <ion-icon name="body"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="secondary">
          <ion-icon name="bed"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="secondary">
            <ion-icon name="tennisball"></ion-icon>
          </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </form>
</ion-content>
